<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blueshift">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".rich_push.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=":BsftNotificationDialog"
            android:theme="@style/TransparentActivity" />

        <activity
            android:name=".pn.BlueshiftNotificationEventsActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=":BsftNotificationEventActivity"
            android:theme="@style/TransparentActivity" />

        <!--Events batching-->
        <receiver android:name="com.blueshift.batch.AlarmReceiver" />
        <!--End - Events batching-->

        <!--App install tracking-->
        <!--
        We are disabling the automatic tracking done by SDK to let the developer
        to track it from their side. It is not recommended to have multiple install
        referrer receivers as per docs. So, if the developer need their own implementation,
        then they can extend this receiver and register it in their own manifest. That will
        enable both the tracking (Blueshift and Non-Blueshift).
        -->

        <!--
        <receiver
            android:name="com.blueshift.receiver.AppInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        <!--End - App install tracking-->

        <service
            android:name=".rich_push.NotificationWorker"
            android:exported="false" />

        <!--
        Deprecation Note:
        Starting from Android Q, the below service will not be working as we can not start activities
        from background. So, it is marked as deprecated from the release for Android Q.
        -->
        <!--
        <service
            android:name=".pn.BlueshiftNotificationEventsService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.blueshift.NOTIFICATION_CLICK_EVENT" />
            </intent-filter>

        </service>
        -->

        <receiver android:name=".rich_push.ScheduledPushReceiver">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_SCHEDULED_PUSH" />
            </intent-filter>
        </receiver>

        <!-- NW Change: This broadcast receiver is added for Android API version 23 and below.-->
        <receiver android:name=".receiver.NetworkChangeListener">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <!-- NW Change: This service is added for API version 24+-->
        <service
            android:name=".httpmanager.request_queue.RequestQueueJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--Job Service for Bulk event dispatching-->
        <service
            android:name=".batch.BulkEventJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>